/* Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

/* Basic and Closed styles */
.menu-drawer {
  position: fixed;
  top: 0;
  left: -24rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 16rem;
  height: calc(100% - 9rem);
  padding: 9rem 4rem 0;

  background-color: var(--theme-primary, rgba(254, 215, 102, 0.95));

  transition: left 0.2s;

  z-index: 998;
}

.menu-drawer .burger {
  all: unset;

  position: fixed;
  top: 1rem;
  left: 1rem;

  display: block;

  width: 3rem;
  height: 3rem;

  transition: left 0.2s, transform 0.2s;

  cursor: pointer;
  z-index: 999;
}

.menu-drawer .burger .burger-icon {
  width: 100%;
  height: 100%;

  color: white;

  transition: color 0.2s;
  cursor: pointer;
}

.menu-drawer .burger .burger-icon .bar {
  color: inherit;
  fill: currentColor;

  transform: translate(0);
  transform-origin: center;

  transition: fill 0.2s, transform 0.4s cubic-bezier(.45, .98, .38, 1.52);
}

.menu-drawer .burger .burger-icon .bar:nth-child(2) {
  transition-delay: 0s, 0.05s;
}

.menu-drawer .burger .burger-icon .bar:last-child {
  transition-delay: 0s, 0.1s;
}

/* Open styles */
.menu-drawer[open] {
  left: 0;
}

.menu-drawer[open] .burger {
  left: 16rem;
}

.menu-drawer[open] .burger:hover .bar {
  fill: #444 !important;
}

.menu-drawer[open] .burger .bar {
  fill: #222 !important;
}

.menu-drawer .burger:active .burger-icon .bar,
.menu-drawer[open] .burger .bar {
  fill: #ccc;
}

.menu-drawer .burger:active .burger-icon .bar:first-child,
.menu-drawer[open] .burger .bar:first-child,
.menu-drawer .burger:active .burger-icon .bar:last-child,
.menu-drawer[open] .burger .bar:last-child {
  transform: translate(5px);
}

.menu-drawer .burger:active .burger-icon .bar:nth-child(2),
.menu-drawer[open] .burger .bar:nth-child(2) {
  transform: translate(1px);
}

@media (hover: hover) {
  .menu-drawer .burger:hover .burger-icon .bar {
    fill: #ccc;
  }

  .menu-drawer .burger:hover .burger-icon .bar:first-child,
  .menu-drawer .burger:hover .burger-icon .bar:last-child {
    transform: translate(5px);
  }

  .menu-drawer .burger:hover .burger-icon .bar:nth-child(2) {
    transform: translate(1px);
  }
}

/* Phone styles */
@media (max-device-width: 500px) {
  .menu-drawer {
    left: -100vw;

    justify-content: center;

    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .menu-drawer[open] .burger {
    left: 50%;
    transform: translateX(calc(-50% - 0px)) scaleX(1.25);
  }

  .menu-drawer .burger:active .burger-icon .bar:first-child,
  .menu-drawer[open] .burger .bar:first-child,
  .menu-drawer .burger:active .burger-icon .bar:last-child,
  .menu-drawer[open] .burger .bar:last-child {
    transform: translate(2px);
  }

  .menu-drawer .burger:active .burger-icon .bar:nth-child(2),
  .menu-drawer[open] .burger .bar:nth-child(2) {
    transform: translate(0);
  }

  @media (hover: hover) {
    .menu-drawer .burger:hover .burger-icon .bar:first-child,
    .menu-drawer .burger:hover .burger-icon .bar:last-child {
      transform: translate(2px);
    }

    .menu-drawer .burger:hover .burger-icon .bar:nth-child(2) {
      transform: translate(0);
    }
  }
}

/* Menu button styles */
.menu-drawer > *:nth-child(n + 2) {
  width: 10rem;
  padding: 0.75rem 0;
  margin-bottom: 5vh;

  color: #222;
  background-color: transparent;

  font-weight: bold;
  font-size: 1.3rem;
  font-family: Montserrat, system-ui;
  text-decoration: none;
  text-align: center;

  border: solid 2px #222;
  border-radius: 2px;

  transition: background-color 0.2s, color 0.2s;
  will-change: background-color, color;

  cursor: pointer;
}

.menu-drawer > *:nth-child(n + 2):hover, .menu-drawer > *:nth-child(n + 2):active, .menu-drawer > *:nth-child(n + 2):focus {
  background-color: #222;
  color: var(--theme-primary, rgb(254, 215, 102));
}

.menu-drawer > *:nth-child(n + 2):focus {
  outline: none;
}
