@import url('https://fonts.googleapis.com/css?family=Questrial');

.base-input {
  position: relative;
  padding-top: 0.75rem;
  color: black;
}

.base-input[theme="dark"] {
  color: white;
}

.base-input::after {
  /* The "bottom border" */
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  width: 0;
  height: 2px;

  background-color: var(--theme-primary, currentColor);

  transition: width 0.25s;
}

.base-input.is-textarea::after {
  bottom: -5px;
}

.base-input:focus-within::after {
  width: 100%;
}

.base-input input,
.base-input textarea,
.base-input label {
  font-size: 1.125rem;
  font-family: Questrial, system-ui;
}

.base-input input,
.base-input textarea {
  width: 100%;
  height: 100%;

  color: currentColor;
  background-color: transparent;

  border: none;
  border-bottom: solid 1px currentColor;

  resize: none;
}

.base-input input::placeholder,
.base-input textarea::placeholder {
  color: currentColor;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.base-input input:not(:focus)::placeholder,
.base-input textarea:not(:focus)::placeholder {
  /* Hide placeholder when label is on top of it */
  opacity: 0;
}

.base-input input:-webkit-autofill,
.base-input textarea:-webkit-autofill {
  /* Removes autofill yellow color on Chrome */
  transition: background-color 999999s;
  -webkit-text-fill-color: black;
  text-fill-color: black;
  caret-color: black;
}

.base-input[theme="dark"] input:-webkit-autofill,
.base-input textarea:-webkit-autofill {
  -webkit-text-fill-color: white;
  text-fill-color: white;
  caret-color: white;
}

.baseinput input.notempty:invalid,
.base-input textarea.notempty:invalid {
  /* If input is invalid, red */
  border-bottom-color: hsl(0 100%, 50%);
}

.base-input input.notempty:valid,
.base-input textarea.notempty:valid {
  /* If input is valid, green */
  border-bottom-color: hsl(120, 83%, 45%);
}

.base-input[theme="dark"] input.notempty:invalid,
.base-input[theme="dark"] textarea.notempty:invalid {
  border-bottom-color: hsl(0, 100%, 71%);
}

.base-input[theme="dark"] input.notempty:valid,
.base-input[theme="dark"] textarea.notempty:valid {
  border-bottom-color: hsl(120, 83%, 65%);
}

.base-input input.notempty:not(:focus):valid,
.base-input textarea.notempty:not(:focus):valid,
.base-input input.notempty:not(:focus):invalid,
.base-input textarea.notempty:not(:focus):invalid {
  /* Not empty */
  border-bottom-width: 2px;
}

.base-input input:focus,
.base-input textarea:focus {
  outline: none;
}

.base-input input:focus ~ label,
.base-input textarea:focus ~ label,
.base-input input.notempty ~ label,
.base-input textarea.notempty ~ label {
  /* Move label up when focused or if input has text */
  top: -15%;
  color: darkslategrey;
  font-size: 0.8rem;
}
.base-input input:-webkit-autofill~label,
.base-input textarea:-webkit-autofill~label {
  /* Move label up if input was autofilled */
  top: -15%;
  color: darkslategrey;
  font-size: 0.8rem;
}

.base-input[theme="dark"] input:focus ~ label,
.base-input[theme="dark"] textarea:focus ~ label,
.base-input[theme="dark"] input.notempty ~ label,
.base-input[theme="dark"] textarea.notempty ~ label {
  color: lightgrey;
}
.base-input[theme="dark"] input:-webkit-autofill~label,
.base-input[theme="dark"] textarea:-webkit-autofill~label {
  color: lightgrey;
}

.base-input label {
  position: absolute;
  top: 0.75rem;
  left: 0.15rem;

  transition: top 0.2s, font-size 0.15s, color 0.15s;
  will-change: top, font-size, color;

  cursor: text;
  user-select: none;
}
