.base-input.base-input {
  position: relative;
  display: flex;
}
.base-input::after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  left: 0;
  bottom: -3px;
  background-color: theme-color;
  transition: width 0.25s ease-in-out;
}
.base-input.float-textarea::after {
  bottom: -5px;
}
.base-input:focus-within::after {
  width: 100%;
}
.base-input input,
.base-input textarea,
.base-input label {
  font-family: Questrial, default-fonts;
  font-size: 1.125rem;
}
.base-input input,
.base-input textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #fff;
  color: #fff;
  resize: none;
}
.base-input input:-webkit-autofill:hover,
.base-input textarea:-webkit-autofill:hover,
.base-input input:-webkit-autofill:focus,
.base-input textarea:-webkit-autofill:focus,
.base-input input:-webkit-autofill,
.base-input textarea:-webkit-autofill {
  transition: background-color 999999s;
  -webkit-text-fill-color: #fff;
  text-fill-color: #fff;
  caret-color: #fff;
}
.base-input input.notempty:not(:focus):invalid,
.base-input textarea.notempty:not(:focus):invalid {
  border-bottom-color: #f00;
}
.base-input input.notempty:not(:focus):valid,
.base-input textarea.notempty:not(:focus):valid {
  border-bottom-color: #008000;
}
.base-input input.notempty:not(:focus):valid,
.base-input textarea.notempty:not(:focus):valid,
.base-input input.notempty:not(:focus):invalid,
.base-input textarea.notempty:not(:focus):invalid {
  border-bottom-width: 2px;
}
.base-input input:focus,
.base-input textarea:focus {
  outline: none;
}
.base-input input:focus ~ label,
.base-input textarea:focus ~ label,
.base-input input.notempty ~ label,
.base-input textarea.notempty ~ label {
  top: -15%;
  color: LightGrey;
  font-size: 0.8rem;
}
.float-input label {
  position: absolute;
  top: 0.75rem;
  left: 0.15rem;
  transition: top 0.25s, font-size 0.15s, color 0.15s;
  will-change: top, font-size, color;
  cursor: text;
  user-select: none;
}
